
<div>
  <label>Number of Dice  </label>
  <select >
      <!-- ngModel = numOfDice   <option *ngFor="let item of list"></option> -->
      <!-- (ngModel)] = "numOfDice" <option>{{maxNumDice}}</option> -->
      <option *ngFor = "let i of numDiceArray">{{i}}</option>
  </select>
  <br/>
  <!-- You select {{numOfDice}} -->
  <br/>
<img *ngFor =  "let die of this.game.dice; index as i;"
    src = "../../assets/images/dice/side_{{die.side}}.png"/>

</div>


<br/>
<button (click)="this.game.rollDice()">Roll Dice</button>
